#welcome{
    max-width: 50rem;
}

#welcome h2, #welcome p{
    margin-bottom: 1.8rem;
}

#welcome p{
    color: rgb(0, 68, 255);
}

#welcome button{
    margin-top: 2rem;
}

#welcome img{
    margin-top: 2rem;
    height: 100%;
    max-height: 26rem;
}

footer{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    border-top: 1px solid white;
    padding-top: 1rem;
  }
  